.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
html {
  width: 100%;
  height: 100%;
}

body {
/*  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

body {
  font-family: Gothic;
}
body .container {
  padding: 30px 0;
}

.panel {
  font-family: Gothic;
  position: relative;
  width: 280px;
  padding: 15px 20px;
  border: 2px solid #333333;
  border-radius: 3px;
  margin: 0 auto 20px;
  overflow: hidden;
  background-color: #111111;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.panel .exchange-rate {
  position: relative;
  width: 100%;
  text-align: left;
  color: white;
}
.panel .exchange-rate .label {
  display: none;
  margin-bottom: 25px;
  font-size: 14px;
  font-size: rem(14px);
  line-height: inherit;
}
.panel .exchange-rate .conversion-selector {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  font-size: 12px;
  font-size: rem(12px);
  line-height: inherit;
  color: #FF9144;
  cursor: pointer;
}
.panel .exchange-rate .conversion-selector::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 5px;
  height: 5px;
  border-right: 1px solid #FF9144;
  border-bottom: 1px solid #FF9144;
  margin-top: 2px;
  margin-left: 10px;
  transform: rotate(45deg);
}
.panel .exchange-rate .rate {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  font-size: rem(36px);
  line-height: inherit;
  letter-spacing: 1px;
}
.panel .exchange-rate .rate::before {
  content: attr(data-currency);
  vertical-align: top;
  margin-right: 5px;
  font-family: "Gothic";
  font-weight: 300;
}
.panel .exchange-rate .rate::after {
  content: attr(data-change);
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  font-size: 12px;
  font-size: rem(12px);
  line-height: inherit;
  transition: color 150ms ease;
}
.panel .exchange-rate .rate[data-performance="+"]::after {
  color: #53DE73;
}
.panel .exchange-rate .rate[data-performance="-"]::after {
  color: #E45050;
}
.panel #chart {
  margin-left: -20px;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  text-align: left;
}
.panel #chart svg {
  position: relative;
  overflow: visible;
}
.panel #chart svg .line {
  fill: none;
  stroke: #FF9144;
  stroke-width: 2px;
  stroke-linecap: round;
}
.panel #chart svg .circle {
  r: 4px;
  fill: white;
  stroke: #FF9144;
  stroke-width: 2px;
}
.panel #chart svg .circle-shadow {
  filter: url(#shadow);
}
.panel #chart svg .guide {
  stroke: #333333;
  stroke-dasharray: 3;
}

button {
  padding: 10px 15px;
  border: 1px solid #333333;
  border-radius: 3px;
  background-color: #111111;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: rem(14px);
  line-height: inherit;
  color: #333333;
  transition: all 150ms ease-out;
}
button:hover {
  border-color: #FF9144;
  background-color: #1e1e1e;
  color: #EEEEEE;
}
button:focus {
  outline: none;
}

body {
  /*background: hsl(190, 60%, 10%);*/
  /*display: grid;*/
  /*justify-items: center;*/
}
input {
  display: block;
}
label {
  color: hsl(190, 60%, 90%);
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin-block: 1ch 2ch;
}
#app {
  aspect-ratio: 1;
  width: 40vw;
}